* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif ;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
}


/*
mm a px
85.6 mm -> 323.53 px
53.98 mm -> 204.02 px
*/

.font {
    height: 85.60mm;
    width: 53.98mm;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    background: linear-gradient(-190deg, rgba(252,252,252),50%, rgba(193,214,197), rgba(147,187,153), rgba(32,122,110), rgba(35,124,130), rgba(36,128,149));
}

.logo-fraternidad {
    color: black;
    font-size: 9px;
}

.logo-fraternidad img {
    position: absolute;
    object-fit: content;
    height: 130px;
    width: 110px;
    top: 10px;
    left: 20px;
}

.edetails {
    position: absolute;
    top: 155px;
    left: 30px;
    color: black;
    font-size: 6px;
}

.logo-policia {
    position: absolute;
    top: 130px;
    left: 135px;
}

.logo-policia img {
    height: 50px;
    width: 50px;
    margin: 15px 00px 00px 5px;
    border-radius: 7px;
}


.signature {
    text-align: center;
    position: relative;
    justify-content: center;
    top: 220px;
    left: 10px;
    font-size: 6px;
}

.signature img {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
}

.signature .president-name {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    left: 30px;
    height: 30px;
    width: 120px;
}

.advice {
    position: absolute;
    text-align: center;
    top: 288px;
    left: 40px;
    font-size: 6px;
    color: white;
    width: 130px;
}